.shoplist {
    //@include block;
    //width   : 100%;
    margin  : 0;
    padding : 0;

    .item {
        margin-bottom : 5px;
        padding       : 5px;
        border        : 1px solid #EEEEEE;
        @include block;
        @include transition-property(background, border);
        @include transition-duration(0.5s);
        @include transition-timing-function($ease-out-quart);

        .columns {
            padding : 0 5px;
        }

        button, .button {
            width         : 100%;
            padding-left  : 0;
            padding-right : 0;
        }
        &:hover {
            background   : #EEEEEE;
            border-color : #DDDDDD;
        }
    }
}

.cartlist {
    margin  : 0;
    padding : 0;

    ul {
        margin          : 0 !important;
        padding         : 0 !important;
        list-style-type : none;
    }

    h4 {
        padding-top : 17px;
    }

    li {
        margin        : 0 0 3px;
        padding       : 3px 0 !important;
        height        : 86px;
        line-height   : 40px;
        @include block;
        border-bottom : 1px solid #EEEEEE;
    }

    span {
        line-height : 40px;
        height      : 40px;
        @include block;

        &.count {
            @include block;
            @include square(30px);
            @include border-radius(100%);
            background  : $red;
            text-align  : center;
            color       : $white;
            float       : right;
            line-height : 30px;
            margin-top  : 5px;
        }
    }
}

.basket-column {
    padding-left  : 5px;
    padding-right : 5px;
}

.form-field {
    padding-left  : 0;
    padding-right : 0;
}

.checkboxlabel {
    padding-top   : 15px;
    height        : 50px;
    margin-bottom : 16px;

    input {
        margin-right : 10px;
    }
}

@media #{$small-only} {
    .form-field {
        &.small-7 {
            padding-right : 8px;
            & + .small-5 {
                padding-left  : 8px;
                padding-right : 0;
            }

        }
    }
}

@media #{$medium-up} {
    .cartlist {

        li, li span {
            height      : 40px;
            line-height : 30px;
        }

        li span.count {
            margin-top : 0;
        }
    }

    .form-field {
        &.medium-6 {
            padding-right : 8px;
            & + .medium-6 {
                padding-left  : 8px;
                padding-right : 0;
            }

        }
        &.medium-8 {
            padding-right : 8px;
            & + .medium-4 {
                padding-left : 8px;
            }
        }
    }
}

@media #{$large-up} {
    .basket-remove .button {
        text-indent : -9999px;
        @include square(30px);
        @include border-radius(100%);

        &:after {
            content     : '-';
            @include block(absolute);
            @include square(30px);
            line-height : 28px;
            font-style  : normal;
            font-weight : 700;
            //@incude transform(rotate(45deg));
            left        : 0;
            top         : 0;
            color       : $white;
            text-indent : 0;
        }
    }

    .form-field {
        &.large-12 {
            padding-right : 0 !important;
            padding-left  : 0 !important;
        }
    }
}