.button.cta-home {
    position    : absolute;
    width       : 240px;
    left        : 50%;
    padding     : 12px 0;
    line-height : 1;
    margin      : 0 0-120px;
    top         : -140px;
    height      : 72px;
    font-size   : rem_calc(24);
}